.service{
    padding: 4em 6em;
    background: #121212;
    color: #fff;
}

.service h2{
    width: 50%;
    font-family: 'Monument-Regular';
    font-weight: 100;
    font-size: 2.2rem;
    line-height: 54px;
}

.service h2 strong{
    font-family: 'Monument-Regular';
    font-weight: 100;
    font-size: 2.2rem;
    color: #00BE7B;  
}

.service-con{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.service-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 40%;
}

.service-left p{
    color: #9F9F9F;
    font-family: 'Aeonik-Bold';
}

.feat-nav{
    display: flex;
    align-items: center;
}

.line{
    width: 150px;
    height: 1px;
    background: #9F9F9F;
}

.line-box{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #9F9F9F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line-box::after{
    width: 40px;
    height: 40px;
    content: '→';
    color: #9F9F9F;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    margin-top: -5px;
}

.service-right{
    flex-basis: 58%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3 equal columns */
    grid-template-rows: repeat(2, auto); /* 2 rows */
    gap: 40px; /* space between grid items */
}

.service-box{
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.service-box h4{
    font-size: 1.8em;
    color: #00BE7B; 
    font-family: 'Monument-Regular';
    font-weight: 100;
 
}

.service-box p{
    font-family: 'Aeonik-Bold';
}

.service-box span{
    color: #9F9F9F;
    font-family: 'Aeonik-Regular';
    line-height: 26px;
}

@media screen and (max-width: 900px){
    .service{
        padding: 4em 1.5em;
        background: #121212;
        color: #fff;
    }
    
    .service h2{
        width: 100%;
        font-family: 'Monument-Regular';
        font-weight: 100;
        font-size: 1.5rem;
        line-height: 39px;
        text-align: center;
    }
    
    .service h2 strong{
        font-family: 'Monument-Regular';
        font-size: 1.5rem;
        line-height: 39px;
        color: #00BE7B;  
    }
    
    .service-con{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 40px;
    }

    .service-left{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-basis: 100%;
        text-align: center;
    }

    .feat-nav{
        display: none;
    }

    .service-right{
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        gap: 40px; /* space between grid items */
        text-align:center ;
        margin-top: 40px;
    }
    
    .service-box h4{
        font-size: 1.4em;
        color: #00BE7B; 
        font-family: 'Monument-Regular';
        font-weight: 100;    
    }

    .service-box p{
        font-family: 'Aeonik-Bold';
    }
    
    .service-box span{
        color: #9F9F9F;
        font-family: 'Aeonik-Regular';
        font-size: 14px;
        line-height: 24px;
    }
    
    
}

